<div class="d-flex">
    <div style="height: 99vh; width: 250px; background-color: rgb(32, 172, 125) ;">
        <div class="d-flex align-items-center justify-content-center flex-column">
            <a routerLink="/dashboard"  class="mt-5 text-light fs-5"  style="text-decoration: none;">DashBoard</a>
            <a routerLink="/employee" class="mt-3 text-light fs-5"   style="text-decoration: none;">Employees</a>
        </div>
    </div>
    
    <div class="p-3 w-100 " style="">
       <div class="d-flex justify-content-between">
            <h1 style="color: rgb(4, 100, 79); font-size: 30px; font-family: Ubuntu Sans Mono, monospace; font-weight: 800; ">Employee List</h1>
            <a routerLink="/add" class="btn btn-outline-primary px-2" ><i class="fa-solid fa-user-plus me-2 pt-2"></i>Add</a>
       </div>

       <h4 >{{adminLogin | date:'fullDate'}}</h4>
      <div class="d-flex mt-5 px-5" >
        <input type="text" placeholder="UserName" class="form-control w-25 me-3" name="skey" [(ngModel)]="searchKey" id="">
           <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              Sort
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" (click)="sortId()" >By Id</a></li>
              <li><a class="dropdown-item" (click)="sortName()" >By Name</a></li>
            </ul>
          </div>
          <button (click)="generatePdf()" class="btn btn-success ms-auto">Export <i class="fa-solid fa-file-export ms-2"></i></button>
      </div>

      <div class="row w-100 mt-5">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <table class="table table-bordered mt-5 shadow mb-3">
                <thead>
                    <tr>
                        <th class="p-3 bg-secondary text-light text-center">User ID</th>
                        <th class="p-3 bg-secondary text-light">User Name</th>
                        <th class="p-3 bg-secondary text-light">Email </th>
                        <th class="p-3 bg-secondary text-light">Status</th>
                        <th class="p-3 bg-secondary text-light">Action</th>
                    </tr>
                </thead>
                <tbody>

                    <tr *ngFor="let employee of allEmployee | search:searchKey | paginate: { itemsPerPage: 5, currentPage: p }" [hidden]="employee.id=='1'">
                        <td class="text-center">{{employee.id}}</td>
                        <td>{{employee.name}}</td>
                        <td>{{employee.email}}</td>
                        <td class="d-flex ">
                            <button [ngClass]="employee.status=='1'? 'btn btn-success':'btn btn-warning'">{{employee.status=='1'?'Active':'Inactive'}}</button></td>
                        <td>
                            <div class="d-flex justify-content-around">
                                <a routerLink="/edit/{{employee.id}}"><button class=" btn btn-outline-primary"><i class="fa-solid fa-pen-nib"></i></button></a>    
                                <button (click)="removeEmployee(employee.id)" class=" btn btn-outline-danger"><i class="fa-solid fa-trash"></i></button>   
                            </div>                 </td>
                      
                    </tr>
                    <span *ngIf="(allEmployee | search:searchKey).length==0" class="text-danger">Employee Doesn't exist</span>
                </tbody>
            </table>

            <pagination-controls class="text-center" (pageChange)="p = $event"></pagination-controls>
        </div>
        <div class="col-md-1"></div>

      </div>

    </div>
</div>